<!--  html dosyasını ilk açtıgımızda temel şablonu şöyle yazdırdık
      !+Tab
      Başlıklar <h1 yaz h1 den h6 ya kadar h1 en büyük olanı h6 en küçük
      body lerin arasına yazıyoruz
      number ı python dosyasından çektik yazımı 2 süsülü parantez arası  -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anasayfa</h1>
    <h2>Anasayfa</h2>
    <h3>Anasayfa</h3>
    <h4>Anasayfa</h4>
    <h5>Anasayfa</h5>
    <h6>Anasayfa</h6>
    <h1>{{ number }}</h1>
    <h2>{{number2}}</h2>

    <p><i>{{sozluk.TL}}</i></p>
    <p><i>{{sozluk.Dolar}}</i></p>
    <p><i>{{sozluk.Euro}}</i></p>
</body>
</html>