<!--
    paragraf için <p> paragrafi html kendi istediği gibi böler 
    fakat nereden böleceğini söylemek için onun sonuna <br> koyabilirsin
    <hr> koydugun yerde sayfa başından sonuna kadar yatay çizgi atar 
    <b> </b> arasına yazılanlar daha kalın olur (bold)
    <i> </i> italic yapar
    BLOCK için block yazıp enterladık body içinde
    blocklarda blockname e 2 bloğun da ortaklaşa kullanacağı tagı giriyoruz
    yani aynı block olduklarını kanıtlamaları açısından
    data kısmını kendilerine ait olan verileri giriyoruz artık
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block string %}
    <h1>Hakkimizda Sayfasi</h1>
    {% endblock %}
    <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry.
         Lorem Ipsum has been the industry's standard dummy text ever since 
         the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book.<br>
          It has survived not only five centuries,</b><hr> 
         <i>but also the leap into electronic typesetting, remaining essentially unchanged. 
         It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, 
         and more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.</i></p>

</body>
</html>